.educations-info {
    display: flex;
    flex-direction: column;
}

.educations-link {
    text-decoration: none;
    color: gray;
}

.educations__name:hover {
    background-color: gray;
    border-radius: 5px;
}