.educations-info {
    display: flex;
    flex-direction: column;
}

.educations-link {
    text-decoration: none;
    color: lightgray;
}

.educations__name:hover {
    color: darkgoldenrod;
    border-radius: 5px;
}