.project-images {
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin: 0px auto;
}

.project__name {
    font-size: larger;
    letter-spacing: 1.2px;
    color: lightgray;
}

.project__name:hover {
    color: darkgoldenrod;
}

.project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-explanation {
    color: gray;
    font-size: smaller;
    text-align: center;
}