.project-links {
    text-decoration: none;
    color: darkgoldenrod;
}

.project-links:hover {
    color: green;
}

.project-images {
    height: 250px;
    width: 250px;
    object-fit: contain;
}

.project__name {
    margin: 30px 0;
    text-align: center;
    font-size: larger;
    letter-spacing: 1.2px;
}

.project__name > a {
    color: lightgray;
    letter-spacing: 0.2px;
}

.line {
    color: red;
    background-color: red;
}