.project-links {
    text-decoration: none;
    color: gray;
}

.project-links:hover {
    color: darkgoldenrod;
}

.project-images {
    height: 250px;
    width: 250px;
    object-fit: contain;
}

.project__name {
    margin: 30px 0;
    text-align: center;
    font-size: larger;
}

.project__name > a {
    color: lightgray;
    letter-spacing: 0.2px;
}