.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #222222;
    height: 80px;
    border-radius: 5px;
}

@media (max-width: 480px) {
    .navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px;
        height: fit-content;
        min-height: 80px;
        width: fit-content;
    }
    .navbar-text {
        margin-right: 15px;
        min-width: fit-content;
    }
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.navbar-icons, .navbar-text {
    color: #fff;
    gap: 5px;
}

.navbar-text {
    text-decoration: none;
}

.navbar-text:hover {
    color: gray;
}


