.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #222222;
    height: 80px;
    border-radius: 5px;
}

.navbar-icons {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.navbar-icons, .navbar-text {
    color: #fff;
}

.navbar-text {
    text-decoration: none;
}

.navbar-text:hover {
    color: gray;
}


